* {
    margin: 0;
    padding: 0;
    font-family: "微软雅黑";
    box-sizing: border-box;
}

img {
    width: 80px;
    height: 80px;
}
.container {
    width: 100%;
    background-color: #eee;
    overflow: hidden;
    border: 1px solid #999;
}
.left{  
    float: left;
    width: 200px;  
    position: relative;  
    background-color: #fff;
    margin-top: 20px;
}
.left img {
    margin: 10%;
}
.left .name {
    float: right;
    margin: 10% 5% 0 0;
}
.main{  
    width:100%;
    float: left;
    margin:0 -100px 0 -200px;
    margin-top: 20px;
      
}  
.main-content{  
    margin:0 110px 0 210px;
    border: 1px solid #999;
    background-color: #fff;
    padding: 10px;  
}  
.right{  
    float: left;
    width: 100px; 
    border: 1px solid #999;
    background-color: #fff;
    margin-top: 20px; 
}
.right img {
    margin: 10% 10% 0 10%;
}
.right img:last-child {
    margin-bottom: 10%;
}